:root {
  --primary: #37353E;
  --secondary: #44444E;
  --additional: #715A5A;
  --text: #D3DAD9;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--primary);
  color: var(--text);
}

/* GLOBAL */
.container {
  max-width: 800px;

  padding-block: 32px;
  padding-inline: 16px;
  margin-inline: auto;
}

.card {
  border-radius: 8px;

  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

label {
  display: block;
}

section>.title-section {
  margin-block-start: 2rem;
  display: grid;
  font-size: 1.2em;
}

/* GLOBAL */

/* Start of Header */
header {
  background-color: var(--secondary);
  
  color: var(--text);
}

.app-bar {
  padding: 24px 20px;
}

.app-bar .brand-name {
  margin: 0;

  font-size: 1.7em;
}

/* End of Header */

/* Start of Main */
main {
  min-height: 100vh;
}

/* Search bar */
.search-bar-container {
  display: inline;
}

.floating-form {
  background-color: white;
  padding: 16px;
  border-radius: 5px;
  position: sticky;
  top: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.search-form {
  display: flex;
  gap: 16px;
}

.search-form .form-group {
  flex-grow: 1;
  position: relative;
}

.search-form .form-group input {
  display: block;
  width: 100%;
  height: 60px;
  padding: 14px 10px 0 10px;
  border-inline: none;
  border-block-start: none;
  border-block-end: 1px solid var(--primary);
  font-size: 1em;
}

.search-form .form-group input:focus-visible {
  outline: 0;
}

.search-form .form-group label {
  line-height: 60px;
  font-size: 1em;
  font-weight: 700;
  color: var(--primary);
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 20px;
  user-select: none;
  pointer-events: none;
  transition: 150ms all ease-in-out;
}

.search-form .form-group input:focus-visible ~ label,
.search-form .form-group input:valid ~ label {
  left: 10px;
  top: -16px;
  font-size: 0.8em;
}

/* Search bar */

.note-list-container {
  margin-block-start: 32px;
}

.note-list .list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.note-list .list .card .note-info {
  padding: 16px 24px;
}

.note-list .list .card .note-info__title h2 {
  font-weight: lighter;
}

.note-list .list .card .note-info__date p {
  font-size: 3em;
}

.note-list .list .card .note-info__description p {
  display: -webkit-box;
  margin-top: 10px;

  overflow: hidden;

  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  /* -webkit-line-clamp: 5; */
  /* number of lines to show */
}

.note-list-container .placeholder {
  margin-block: 1rem;

  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--text);
}

/* End of Main */

/* Start of Footer */
footer {
  background-color: var(--text);

  color: var(--secondary);
}

footer .container {
  padding-block: 16px;
}

.main-footer {
  padding: 8px 16px;

  text-align: center;
}

/* End of Footer */